<div id="logo">
    <a href="{{ '/' | relative_url }}">
        <button class="nav-button left" type="button">
            {% include logo.html %}
        </button>
    </a>
</div>
<div id="navbar-navigation">
    {% for item in site.data.navigation %}
    <a class="nav-item" href="{{ item.link | relative_url }}">
        <button class="nav-button" type="button">
            <span>{{item.name}}</span>
        </button>
    </a>
    {% endfor %}
</div>