#blog {
  margin: auto;
  margin-bottom: 100px;
  max-width: 750px;
  padding: 0 25px;
}

#blog a {
  text-decoration: none;
  color: #505050;
}

.blog-post {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
  margin-bottom: 50px;
}

.blog-post:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.blog-post p {
  font-size: 1.2em;
  line-height: 30px;
}

.blog-title {
  letter-spacing: 2px;
  margin-top: 5px;
  font-weight: 500;
}

.blog-date {
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.54) !important;
  margin-bottom: 0px;
}
