#home-wrapper {
  height: 100%;
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  #home-wrapper {
    padding: 0px;
    display: grid;
    grid-template-rows: 3fr 9fr;
    grid-template-areas:
      "space-top"
      "home";
  }
}

#home {
  grid-area: home;
  max-width: 500px;
  justify-self: center;
}

#home p {
  font-size: 1.2em;
  line-height: 30px;
}

#home h1,
#home h2 {
  font-size: 3em;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-weight: 400;
}
