#site {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "navbar"
    "main";
}

#main {
  grid-area: main;
  width: 100vw;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#navbar {
  grid-area: navbar;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ol,
ul,
li {
  color: #505050 !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased !important;
}
