#post {
  margin: auto;
  max-width: 750px;
  padding: 0 25px;
}

#post p {
  font-size: 1.2em;
  line-height: 30px;
}

.post-title {
  font-size: 3em;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-weight: 400;
}

.post-date {
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.54) !important;
  margin-top: 0px;
}

img {
  width: 100%;
}

code {
  word-break: break-all;
}
