---
layout: default
---
<div id="blog">
    {% for post in site.posts %}
    <a href="{{ post.url | relative_url }}">
        <div class="blog-post">
            <h6 class="blog-date">{{ post.date | date_to_string }}</h6>
            <h2 class="blog-title">{{ post.title }}</h2>
            {{ post.excerpt }}
        </div>
    </a>
    {% endfor %}
</div>