<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        {% seo %}
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
        {% feed_meta %}
        {%- if jekyll.environment == 'production' and site.google_analytics -%}
            {%- include google-analytics.html -%}
        {%- endif -%}
    </head>
    <body>
        <div id="site">
            <div id="navbar">
                {% include navigation.html %}
            </div>
            <div id="main">
                {{ content }}
            </div>
        </div>
    </body>
    <script src="{{ '/assets/js/highlight.pack.min.js' | relative_url }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</html>