---
layout: default
---
<div id="blog">
    {% assign tils = site.tils | sort: 'date' | reverse %}
    {% for til in tils %}
    <a href="{{ til.url | relative_url }}">
        <div class="blog-post">
            <h6 class="blog-date">{{ til.date | date_to_string }}</h6>
            <h2 class="blog-title">{{ til.title }}</h2>
            <p>{{ til.excerpt }}</p>
        </div>
    </a>
    {% endfor %}
</div>